@import '../styles/vars';

.column-group {
  .column {
    fill: steelblue;
    stroke: white;

    &:hover {
      fill: mediumseagreen;
    }

    transition: all 0.5s ease-in-out;
  }

  .value {
    visibility: hidden;
  }

  &:hover {
    .value {
      visibility: visible;
    }
  }

}